@media only screen and (max-width: 850px) {
  .card-container {
    margin: 10vh auto;
    display: block;

    .card {
      p {
        margin-bottom: 2em;
      }
    }

    .card:nth-last-of-type(3) {
      border-radius: 0px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .card:nth-last-of-type(1) {
      border-radius: 0px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
    }
  }
}
