@mixin set-button-style($primary-colour) {
  a {
    max-width: 100%;
    padding: 15px 30px;
    background-color: $very-light-gray;
    color: $primary-colour;
    border: 1px solid $very-light-gray;
    border-radius: 30px;

    &:hover {
      background-color: $primary-colour;
      color: $very-light-gray;
    }
  }
}
